.metaData {
    align-items: center;
    display: flex;
    margin: 0.5rem 0;
}

.avatar {
    margin-right: 1.5rem;
    height: 80px;
    width: 80px;
    flex-shrink: 0;
}

.avatarPlaceholder {
    width: 100% !important;
    height: 100% !important;
}

.commentCount {
    display: flex;
    align-items: center;
}