@import './bootstrap-overrides.scss';

//Can declare new variables here
$body-bg-dark: darken($body-bg, 2%);

$body-color-secondary: white;

$primary-light: lighten($primary, 15%);

$page-width: 1300px;
