@import '../../index.scss';

.content {
    min-height: 100vh;
    padding: 0 0 90px;
    position: relative;
}

.pageWrapper {
    margin: 0 auto;
    max-width: $page-width;
    padding: 15px;
}

.navbarWrapper {
    background: $primary;
    margin-bottom: 25px;
}

.navbar {
    margin: auto;
    max-width: $page-width;
}

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }

.footerText {
    color: $body-color-secondary;
}

.scrollButton {
    background: rgba(255, 255, 255, 0) !important;
    border: 0 !important;
    color: $secondary !important;

    :hover {
        color: $dark;
    }
}

.socialLink {
    margin-left: 12px;
}